*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root{
    --primary-color: rgb(94, 90, 90);
    --title-size: 40px;
    --desc-size: 16px;
}

.container{
    width: 80%;
    margin: auto;
}

header{
    background: linear-gradient(45deg, rgba(3, 118, 194, 0.459),  rgb(238, 241, 17) );
}

.header-benner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-desc{
    width: 40%;
}

.header-img{
    width: 40%;
    background-image: url(images/shapes/Group\ 8449.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;

}

.header-img img{
    width: 100%;
    height: auto;
}

#defriend{
    color: rgb(252, 76, 46);
}

.header-desc h1{
    font-size: var(--title-size);
    color: var(--primary-color);
    line-height: 50px;;
}

.header-desc p{
    font-size: var(--desc-size);
    margin: 20px 0px;
    line-height: 30px;
}

.btn{
    background: linear-gradient(45deg, rgb(252, 171, 157), rgb(243, 40, 4));
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}


/* <!-- about section start here now --> */
/* <!-- about section start here now --> */

.about{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 8rem 0rem;
}

.about-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image{
    width: 45%;
}

.about-image img{
    width: 100%;
}

.about-desc{
    width: 40%;
}

.about-desc h2{
    font-size: var(--title-size);
    color: var(--primary-color);
}

.about-desc p{
    font-size: var(--desc-size);
    margin: 20px 0px;
    line-height: 25px;
}

/* <!-- recipies section end here now --> */
/* <!-- recipies section end here now --> */

.recipies H2{
    font-size: var(--title-size);
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

.recipies p{
    font-size: var(--desc-size);
    margin: 10px 0px;
    line-height: 25px;
    text-align: center;
    width: 60%;
    margin: auto;
}

.recipy-box{
    margin: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.resipy-single-box{
    width: 40%;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgb(219, 205, 205);
}

.resipy-single-box img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.resipy-single-box h3{
    font-size: 20px;
    color: var(--primary-color);
    margin-top: 25px;
    margin-bottom: 10px;
}

.resipy-single-box p{
    font-size: var(--desc-size);
    color: var(--primary-color);
    width: 100%;
    text-align: left;
}